

body {
  /* background-color: red; */
  background-image:url("../img/rio.jpeg");
  background-size: cover;
  position:relative;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  bottom: 30px;
  padding: 1em;
  max-width: 50em;
  font-family:initial, cursive;
  line-height: 1.5;
  color: #211102;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.game-title {
  color:black;
  font-family: fantasy;
  text-align:end;
  text-decoration: solid;
  
}

/* Game Container */

.story-container {
  background-color: none;
  height: 200px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Status container */

.status-container {
  width: 100%;
  height: 10px;
  text-align: center;
  padding-top: 0em;
  padding-bottom: 0em;
  background-color: none;
  color: black;
  word-break: break-all;
}

.status-container ul {
  list-style: none;
  /* display: flex; */
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 0;
  margin: 0;
}

/* decision text */

.decision-text-container {
  width: 80%;
  height: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: justify;
  padding-top: 1em;
  padding-left: 0em;
  padding-right: 0em;
  margin-bottom: 18%;
  /* word-break: break-all; */
}



/* button fading classes */
.hide {
  opacity: 0;
}


.dice { /* HTML symbols */
    font-size: 100px;
    font-weight: 800;
    background-color: orange;
    
  }
  
  .dice::after {
    content:'';
    animation: rolling 6s linear infinite;
    background-color: orange;
  }
  
  @keyframes rolling {
    0% {content:'\2680';}
    20% {content:'\2681';}
    40% {content:'\2682';}
    60% {content:'\2683';}
    80% {content:'\2684';}
    100% {content:'\2685';}
  }

  td {
    background-color:grey;
    width: 55px;
    height: 55px;
    text-align: center;
    
}

  .blank {
    background-color: transparent ;
}

  .piece {
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: grey;
    border: 1px solid black;
    border-radius: 50px;
}

.choice-buttons: {
  background-color: grey;
  color: black;
  padding: 15px 15px;
  text-align:center;
  font-size: 14px;
  width: 40%;
  height: 100%;
  display: inline-block
  
  
}

.choice-buttons-container {
  background-color: transparent;
  width: 100%;
  height: 50px;
  margin-bottom: 7%;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}

.game-attributes {
  margin-top: -20px;
  margin-bottom: 20px;
}
